---
layout: default
---
<html lang="en-us">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  {% include head.html %}
  <body>

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <br />
  {{ content }}
</div>

  </body>
</html>
